Source: vanilla-base-desktop
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 11),
Homepage: https://github.com/vanilla-os/vanilla-base-desktop/
Vcs-Browser: hhttps://github.com/vanilla-os/vanilla-base-desktop
Vcs-Git: https://github.com/vanilla-os/vanilla-base-desktop.git
Rules-Requires-Root: no

Package: vanilla-base-desktop
Architecture: all
Depends: adwaita-icon-theme-full,
         gnome-disk-utility,
         gnome-system-monitor,
         gnome-calculator,
         gnome-music,
         gnome-photos,
         gnome-software,
         gnome-backgrounds,
         gnome-color-manager,
         gnome-control-center,
         gnome-control-center-faces,
         gnome-menus,
         gnome-online-accounts,
         gnome-online-miners,
         gnome-remote-desktop,
         gnome-session,
         gnome-session-canberra,
         gnome-settings-daemon,
         gnome-shell,
         gnome-shell-extensions,
         gnome-shell-extension-manager,
         gnome-themes-extra,
         gnome-user-docs,
         gnome-user-share,
         gnome-accessibility-themes,
         gnome-bluetooth,
         gnome-keyring,
         gnome-console,
         gnome-sushi,
         orca,
         totem,
         nautilus,
         nautilus-share,
         chrome-gnome-shell,
         epiphany-browser,
         evolution-data-server,
         fonts-cantarell,
         fonts-dejavu-core,
         fonts-freefont-ttf,
         fonts-noto-color-emoji,
         fonts-indic,
         fonts-kacst-one,
         fonts-khmeros-core,
         fonts-lao,
         fonts-liberation,
         fonts-lklug-sinhala,
         fonts-noto-cjk,
         fonts-sil-abyssinica,
         fonts-sil-padauk,
         fonts-thai-tlwg,
         fonts-tibetan-machine,
         fonts-ubuntu,
         file-roller,
         mutter,
         gdm3,
         gjs,
         eog,
         xorg,
         yelp,
         libgdk-pixbuf2.0-bin,
         switcheroo-control,
         ubuntu-gnome-wallpapers,
         vanilla-gnome-default-settings,
         vanilla-first-setup,
         vanilla-control-center,
         vanilla-backgrounds,
         plymouth-theme-spinner,
         plymouth-theme-vanilla,
         plymouth-theme-vanilla-bgrt,
         plymouth-theme-vanilla-text
Description: This meta package contains GNOME Core applications.
